services:
  dev:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    network_mode: service:redis
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes # data persistence
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 2s
      retries: 5
      start_period: 10s

volumes:
  redis-data:
    driver: local